/* Ues The Google Fonts Import */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");

/* Universal Styling Start */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared Styling Start */

body {
  font-family: "Work Sans", sans-serif;
}
.section-title {
  color: #0b0223;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 20px;
}
.text-description {
  color: #534c64;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}
.btn-primary {
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  border: none;
  padding: 15px 25px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* Navbar Styling Start */

.navbar-container {
  display: flex;
  min-height: 50px;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}
.logo-container {
  display: flex;
}

.logo-container img {
  width: 55px;
  object-fit: cover;
}
.logo-container p {
  font-size: 30px;
  font-weight: 700;
  margin-left: 10px;
}
.logo-container p span {
  color: #ff42a5;
}
.navbar-items-container {
  display: flex;
}
.navbar-items-container a {
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 15px;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}
a.follow-us {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
.fa-youtube {
  color: rgb(255 0 0);
}
.fa-tiktok {
  color: #111111;

  filter: drop-shadow(2px 0px 0px #fd3e3e) drop-shadow(-2px -2px 0px #4de8f4);
}

/* Navbar Styling End */

/* Banner Section Styling Start */

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
}
.banner-left-content-container {
  background-image: url("../images/Group\ 14.png"),
    linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 50%;
  height: 100vh;
}
.banner-left-content {
  margin-top: 100px;
}

.banner-right-content {
  width: 50%;
}

.banner-right-content img {
  width: 100%;
}
h3.text-title-1 {
  font-size: 30px;
  color: #0b0223;
  font-weight: 600;
}

h3.text-title-2 {
  font-size: 55px;
  margin-bottom: 10px;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-description p {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.fa-circle-play {
  color: #ff42a5;
}
.fa-download {
  color: #ff42a5;
}
.fa-user {
  color: #0b0223;
}
#color-changes {
  background: #4ec5f7;
}
.button {
  margin-top: 25px;
}

/* Banner Section Styling End */

/* Gamer Section Styling Start */

#gamer {
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gamer-left-content {
  width: 50%;
}
.gamer-left-content img {
  width: 100%;
}
.gamer-right-content {
  width: 40%;
  text-align: right;
}
.gamer-container {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

h3.text-title {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  margin-bottom: 20px;
}

/* Gamer Section Styling End */

/* online Games Section Styling Start */

#online-games {
  padding: 80px 0;
  text-align: center;
}
.cards-container {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}
h3.section-title span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
.cards {
  width: 210px;
  position: relative;
}

.cards img {
  width: 100%;
}
.cards .cards-content {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #0b0b0bab;
  opacity: 0;
  transition: all 0.5s;
}

.cards:hover .cards-content {
  width: 100%;
  height: 68%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  border-radius: 8px;
}
.cards .overlay {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  z-index: 1;
  text-align: center;
  height: 0;
}
.cards .overlay h3 i {
  color: #fff;
}
.cards:hover .overlay {
  opacity: 1;
}
.cards .description {
  color: #fff;
}

/* Play Instanly Section Styling Start */

.instantly {
  padding: 80px 0;
}

.instantly-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.instanly-left {
  width: 25%;
}

h3.play-title {
  text-align: right;
  font-family: Work Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 20px;
}

h3.play-title span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p.play-description {
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.instanly-right {
  width: 40%;
  position: relative;
}

.instanly-right img {
  width: 100%;
  border-radius: 8px;
}

.over-img {
  width: 40%;
  position: absolute;
  top: 60%;
  left: -20%;
}

/* Play Instanly Section Styling End */

/* Play Games Section Styling Start */

.play-games {
  padding: 80px 0;
}

.play-games-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.play-games-left {
  width: 35%;
  position: relative;
}

.play-games-left img {
  width: 100%;
}

.play-games-left {
  width: 40%;
  position: relative;
}

.play-games-left img {
  width: 100%;
}

.over-img-2 img {
  width: 100%;
}

.over-img-2 {
  width: 40%;
  position: absolute;
  top: 60%;
  right: -20%;
}

.play-games-right {
  width: 30%;
}
.games-title {
  text-align: right;
  font-family: Work Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 20px;
}

.games-title span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.games-description {
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* Play Games Section Styling End */

/* Careers Section  Styling Start */

section.careers {
  margin: 80px 0;
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.careers-container {
  display: flex;
  justify-content: space-between;
}

.careers-right-content {
  width: 60%;
}

.careers-right-content img {
  max-width: 100%;
}

.careers-left-content {
  width: 40%;
  padding: 70px 0px 0px 90px;
}

h3.careers-title {
  color: #FFF;
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 20px;
}

p.description {
  color: #FFF;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;
}

.careers-mini-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.careers-mini-left p {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.careers-mini-right p {
  font-size: 14px;
  color: white;
  font-weight: 600;
}

.btn-primary-light {
  padding: 15px 25px;
  border: none;
  border-radius: 48px;
  font-size: 12px;
  font-weight: 600;
  color: #FF42A5;
  text-transform: uppercase;
  margin-top: 20px;
}

/* Careers Section  Styling End */
button {
  display: flex;
}

button p {
  margin-top: 30px;
}
.container {
  display: grid;
  grid-template-areas:
    'sponser-box sponser-box sponser-box sponser-box sponser-box';
  padding: 0px 70px;
}
.sponser-box {
  width: 150px;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 5px;
  overflow: hidden;
}

.sponser-box img {
  width: 10%;
}

.sponser-text p {
  font-size: 12px;
}
.sponser-box:hover{
  border: 1px solid #FF42A5 ;
  border-radius: 40%;
}


footer {
  background: #0B0223;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.footer-logo img {
  width: 5%;
}

.footer-logo h4 {
  font-size: 35px;
  color: #fff;
}

.footer-logo h4 span {
  color: #FF42A5;
}
.footer-container {
  text-align: center;
}
footer {
    background: #0B0223;
}
section.features {
  margin-bottom: 80px;
}

.footer-nav-items {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.footer-nav-items li {
    list-style: none;
}

.footer-nav-items li a {
    text-decoration: none;
    color: #fff;
    padding: 0 20px;
}

.footer-icons i {
    color: #fff;
    padding: 15px 25px;
    font-size: 25px;
}
.footer-extralik li {
  list-style: none;
}

.footer-extralik li a {
  text-decoration: none;
  color: white;
  padding: 17px 25px;
}

.footer-extralik {
  display: flex;
  justify-content: center;
  padding: 25px 0;
}
.smalltext p {
  font-size: 12px;
  padding-bottom: 30px;
  color: #fff;
}