/* Responsive Media Query */

/* Tablet Media Query Start*/
@media screen and (max-width: 768px) {
  .banner-container {
    flex-direction: column-reverse;
  }
  .gamer-container {
    flex-direction: column;
  }
  .banner-right-content {
    width: 90% !important;
  }
  .banner-left-content-container {
    width: 80% !important;
  }
  .text-description p {
    font-size: 14px !important;
  }
  .banner-left-content-container {
    width: 90% !important;
    height: 70vh !important;
  }
  #color-changes {
    margin-top: 10px;
  }
  #gamer {
    padding: 80px 0;
  }
  .gamer-left-content {
    width: 90% !important;
  }
  .gamer-right-content {
    width: 90% !important;
  }
  .section-title {
    font-size: 25px !important;
  }
  .online-games-container {
    text-align: center;
  }
  .cards {
    width: 100% !important;
  }
  .cards:hover .cards-content {
    height: 88% !important;
    border-radius: 8px;
  }
  .instantly-container,
  .careers-container {
    flex-direction: column;
  }

  .instanly-left,
  .play-games-right {
    width: 80% !important;
  }

  h3.section-title,
  h3.section-title {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  p.text-description {
    text-align: center;
    margin-bottom: 15px;
  }

  .instanly-right,
  .play-games-left {
    width: 65% !important;
  }
  h3.play-title,
  .games-title {
    text-align: center !important;
  }
  p.play-description,
  .games-description {
    text-align: center !important;
    margin-bottom: 20px !important;
  }
  #online-games {
    padding: 0 !important;
  }
  .careers-left-content {
    padding: 50px 0px 0px 50px !important;
    width: 80% !important;
  }

  h3.text-title {
    font-size: 35px;
  }

  p.description {
    margin-bottom: 20px;
    line-height: 22px;
    margin-top: 20px;
  }

  .careers-mini-left p,
  .careers-mini-right p {
    font-size: 12px;
  }
  .btn-primary-light {
    padding: 10px 15px;
    font-size: 14px;
  }
  .careers-right-content {
    width: 95% !important;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .sp-box{
    display: flex;
    flex: 1 1 200px;
    justify-content: center;
  }
  .box-content p{
    font-size: 8px;

  }
}

/* Tablet Media Query End*/

/* Mobile Media Query Start */

@media screen and (max-width: 425px) {
  .navbar-container,
  .navbar-items-container,
  .gamer-containerm,
  .cards-container {
    flex-direction: column;
  }
  .navbar-items-container {
    text-align: center;
  }
  .banner-container,
  .play-games-container {
    flex-direction: column-reverse;
  }
  .banner-right-content {
    width: 90% !important;
  }
  .banner-left-content-container,
  .gamer-left-content {
    width: 100% !important;
  }
  .text-description p {
    font-size: 14px !important;
  }
  .banner-left-content-container {
    width: 80% !important;
    height: 80vh !important;
  }
  #color-changes {
    margin-top: 10px;
  }
  #gamer {
    padding: 80px 0;
  }
  .gamer-left-content {
    width: 80% !important;
  }
  .gamer-right-content {
    width: 80% !important;
  }
  .gamer-right-content {
    text-align: center !important;
  }
  .section-title {
    font-size: 25px !important;
  }
  .online-games-container {
    text-align: center;
  }
  .cards {
    width: 100% !important;
  }
  .cards:hover .cards-content {
    height: 88% !important;
    border-radius: 8px;
  }
  .instantly-container,
  .careers-container {
    flex-direction: column;
  }

  .instanly-left,
  .play-games-right {
    width: 80% !important;
  }

  h3.section-title,
  h3.section-title {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  p.text-description {
    text-align: center;
    margin-bottom: 15px;
  }

  .instanly-right,
  .play-games-left {
    width: 65% !important;
  }
  h3.play-title,
  .games-title {
    text-align: center !important;
  }
  p.play-description,
  .games-description {
    text-align: center !important;
    margin-bottom: 20px !important;
  }
  #online-games {
    padding: 0 !important;
  }
  .careers-left-content {
    padding: 50px 0px 0px 50px !important;
    width: 80% !important;
  }

  h3.text-title {
    font-size: 35px;
  }

  p.description {
    margin-bottom: 20px;
    line-height: 22px;
    margin-top: 20px;
  }

  .careers-mini-left p,
  .careers-mini-right p {
    font-size: 12px;
  }
  .btn-primary-light {
    padding: 10px 15px;
    font-size: 14px;
  }
  .careers-right-content {
    width: 95% !important;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .sp-box{
    display: flex;
    flex: 1 1 100px;
  }
  .box-content p{
    font-size: 8px;
  }
  .footer-logo img{
    width: 10% !important;
  }
  .footer-link a{
    line-height: 40px;
  }
  .footer-links a {
    padding: 0px 40px;
  }
  .footer-links i{
    padding: 15px 0;
  }
  .footer-extra-link a{
    line-height: 40px;
  }
  .smalltext p span{
    display: block;
  }

}

