/* Responsive Media Query */

/* Tablet Media Query Start*/
@media screen and (max-width: 768px) {
  .banner-container {
    flex-direction: column-reverse;
  }
  .gamer-container {
    flex-direction: column;
  }
  .banner-right-content {
    width: 90% !important;
  }
  .banner-left-content-container {
    width: 80% !important;
  }
  .text-description p {
    font-size: 14px !important;
  }
  .banner-left-content-container {
    width: 90% !important;
    height: 70vh !important;
  }
  #color-changes {
    margin-top: 10px;
  }
  #gamer {
    padding: 80px 0;
  }
  .gamer-left-content {
    width: 90% !important;
  }
  .gamer-right-content {
    width: 90% !important;
  }
}

/* Tablet Media Query End*/

/* Mobile Media Query Start */

@media screen and (max-width: 425px) {
  .navbar-container,
  .navbar-items-container,
  .gamer-container {
    flex-direction: column;
  }
  .navbar-items-container {
    text-align: center;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-right-content {
    width: 90% !important;
  }
  .banner-left-content-container,
  .gamer-left-content {
    width: 100% !important;
  }
  .text-description p {
    font-size: 14px !important;
  }
  .banner-left-content-container {
    width: 80% !important;
    height: 80vh !important;
  }
  #color-changes {
    margin-top: 10px;
  }
  #gamer {
    padding: 80px 0;
  }
  .gamer-left-content {
    width: 80% !important;
  }
  .gamer-right-content {
    width: 80% !important;
  }
}
